body#pages_root
  background-image: image-url('pages/root/sky.png'), image-url('pages/root/sky_and_sea.png')
  background-position: center 25px, center 262px

  h1
    margin-bottom: 4%

  h1 + p
    font-size: 18px
    text-align: center

#products
  list-style-type: none
  padding: 0 0 0 0

  h2
    font-size: 28px
    text-align: center
    border-bottom: 1px solid #ddd
    margin-bottom: 10px
    padding-bottom: 15px

  .product
    margin-top: 50px
    padding: 18px 10px

    .img-holder
      width: 100%
      max-width: 310px
      margin: 0 auto 20px
      border-radius: 3px
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
      border: 1px solid rgba(0, 0, 0, 0.15)
      border-top: 1px solid rgba(0, 0, 0, 0.15)
      overflow: hidden
      background-color: #dedede
      background-clip: padding-box

    .mobile-holder
      background: image-url("pages/root/mobile_background.png") 0 1px no-repeat
      background-size: 100% auto
      margin: 0 auto
      padding-bottom: 5px

      img
        margin: 0 auto

    img
      display: block

  .product > a
    color: inherit
    text-decoration: none
    font-weight: 200

    p
      text-align: center

  .product:active
    top: 1px

  ul.specs
    list-style-type: none
    margin: 0 0 0 0
    margin-bottom: 15px
    padding: 0 0 0 0
    font-style: italic

    li
      margin-left: 80px
      padding: 10px 0 3px 40px
      line-height: 2em

    .time
      background: image-url("layout/clock.png") left center no-repeat

    .options
      background: image-url("layout/options.png") left center no-repeat

  .btn-holder
    margin-bottom: 25px
    text-align: center

    .btn
      background: #4d89bb
      border: none
      padding: 10px 20px
      font-size: 16px
      font-weight: bold
      -webkit-font-smoothing: antialiased
      text-shadow: none
      box-shadow: none
      &:hover
        background: #4475a1

.row article div[class^="span"] p
  margin-top: 20px
  i
    font-size: 130px
    color: #ddd

.person-small
  margin-bottom: 20px
  img
    margin-bottom: 5px
    width: 75px
    -webkit-border-radius: 100px
    -moz-border-radius: 100px
    border-radius: 100px

.team-small
  .person-small
    a:hover
      img

.row:nth-child(n+4)
  margin-top: 30px
