.jumbotron
  %h1 Our Partners
  %p
    We work closely together with companies, NGOs, and governmental
    organizations to improve and extend the Energy Transition Model or to
    provide other services.

.row
  .span3
    #sidebar.sidebar
      %ul.nav.nav-list.sidenav{data: {spy: 'affix', offset: {top: '370'}}}
        %li.active
          %i.icon-chevron-right
          %a{"href" => "#primary_partners"}
            Primary Partners
        %li
          %i.icon-chevron-right
          %a{"href" => "#knowledge_partners"}
            Knowledge Partners
        %li
          %i.icon-chevron-right
          %a{"href" => "#education_partners"}
            Education Partners
  .span9.app-folders-container
    #primary_partners
      %h1{"style" => "margin: 20 0;"} Primary Partners
      %p
        Partners uit deze categorie hebben de grootste impact hebben op het
        Energietransitiemodel (ETM). Aangezien het model gratis toegankelijk is
        voor iedereen is geld nodig om onderhoud, uitbreidingen en
        verbeteringen te kunnen doen. Naast geld is vaak ook specialistische
        kennis nodig. Daarvoor werkt Quintel, de maker van het ETM, samen met
        bedrijven en overheden die geïnteresseerd zijn om het model te
        verbeteren of uit te breiden.

      %h2 Rechten en invloed van partners

      %p
        Betalende partners hebben geen dwingende invloed op de gebruikte
        gegevens of uitkomsten van het ETM. Wel hebben deze partners indirect
        invloed op wat het ETM kan. Het ETM is op sommige gebieden beter
        uitgewerkt dan op andere, omdat het eenvoudiger is om partners te
        vinden voor deze onderwerpen. Zo is met steun van onze partners
        elektriciteit vrij uitgebreid in het ETM opgenomen, terwijl
        bijvoorbeeld landbouw er nog heel eenvoudig in zit.

      %h2 Voorwaarden voor funding

      %p
        Quintel heeft uiteraard verplichtingen richting de betalende partners
        om bijvoorbeeld de werking van nieuwe toevoegingen aan het model met
        hen te valideren.  Ook dient Quintel zich te houden aan de scope en
        methode die per project wordt afgesproken in
        samenwerkingsovereenkomsten.  Quintel noemt bovendien alle betalende
        partners bij naam op de website van het Energietransitiemodel.

        De belangrijkste voorwaarde die Quintel aan dergelijke samenwerking
        verbindt, is dat het eindproduct weer gratis voor iedereen beschikbaar
        is. Zo ontstaat als het ware een ‘kennispool’ waar iedereen vanuit zijn
        eigen specialisme aan bijdraagt.  Partners leveren naast een financiële
        bijdrage vaak ook kennis voor het modelleren van een bepaald onderwerp.
        Quintel heeft het recht om deze gegevens te valideren met een andere
        partij en aan te vullen of zonodig aan te passen. Meer informatie over
        het proces voor kwaliteitsverbetering vindt u hier.
      %br
      = render partial: 'partner_logos', locals: { partners: Partner.primary }
    %br
    %br
    #knowledge_partners{"style" => "clear: both;"}
      %h1{"style" => "margin: 20 0; clear: both;"} Knowledge Partners
      %p
        Deze partners delen de visie van Quintel dat onderwijs noodzakelijk is
        om op lange termijn de juiste beslissingen te nemen rondom
        energietransitie. Per project wordt op een andere manier samengewerkt.
        Quintel streeft ernaar om zoveel mogelijk onderwijsmateriaal gratis
        beschikbaar te stellen. Deze partners zijn zelden direct betrokken bij
        aanpassingen van het ETM.
      %br
      #logos
        = render partial: 'partner_logos', locals: { partners: Partner.knowledge }
    %br
    #education_partners
      %h1{"style" => "margin: 20 0;"} Education Partners
      %p
        Kennispartners dragen inhoudelijk bij aan het ETM zonder daarvoor
        direct te betalen. Dit gebeurt bijvoorbeeld omdat zij onderdeel zijn
        van een samenwerking met een betalende partner, of omdat zij het
        belangrijk vinden dat een bepaald onderwerp correct door het ETM
        behandeld wordt.

        Onze kennispartners dragen ook bij door te helpen bij het zoeken naar
        gegevens of door gevonden gegevens te valideren.
      %br
      #logos
        = render partial: 'partner_logos', locals: { partners: Partner.education }
