.jumbotron
  %h1 Our Partners
  %p
    We work closely together with companies, NGOs, and governmental
    organizations to improve and extend the Energy Transition Model or to
    provide other services.

.row
  .span4
    %h1 Companies
    = render partial: 'list', locals: { partners: Partner.companies }
  .span4
    %h1 Institutes
    = render partial: 'list', locals: { partners: Partner.institutes }
  .span4
    %h1 Governments
    = render partial: 'list', locals: { partners: Partner.governments }

