- content_for(:breadcrumb) do
  %ul.breadcrumb
    .container
      %li
        = link_to 'Help', help_path
      %li
        - if @article
          - unless @article.section.blank?
            >
            - if @article.section.gsub(/^\d+_/,'') == 'faq'
              = t 'help.faq'
            - else
              - section = @article.section.gsub(/^\d+_/,'')
              = section[0].capitalize + section[1..section.length]
          
          > 
          = @article.article_title.capitalize
        - if @results
          > Search Results
          