.row
  .span8.offset2
    %h1
      Everybody needs a little help sometimes...
%br
.row
  .span8.offset2
    %form{ :action => "/search", :method => :get }
      .input-append
        %input.span8{ name: 'q', type: "text", placeholder: "What are you looking for?" }
        %button.btn{ type: "submit" }
          %i.icon-search
.row
  .span8.offset2
    %table.span8.table.table-bordered.table-condensed.table-hover
      %thead
        %th= "Common Issues"
      %tbody
        - issues = @articles.select { |article| article.section == "common issues" }
        - issues.each do |issue|
          %tr
            %td= link_to issue.key.humanize.capitalize, article_path(issue.key)
.row
  .span8.offset2
    .information_page
      - sections = @articles.collect { |article| article.section }.uniq.delete_if { |section| section.blank? || section == "common issues"}
      - sections.each do |section|
        %h3.section-header= section.titleize
        - @articles.select { |article| article.section == section }.each do |article|
          = link_to article.key.humanize.capitalize, article_path(article.key), class: 'article'
          %br 