.row article div[class^="span"] p
  i
    font-size: 160px

body#pages_root
  background-position: center 25px, center 341px

body#pages_root h1 + p
  padding: 0 15%

#products .product .img-holder
  background-image: image-url('pages/root/app_buttons.png')
  background-position: 6px 5px
  background-size: 26px 6px
  background-repeat: no-repeat
  background-color: #dedede
  padding-top: 16px
  border-radius: 3px
