- content_for(:breadcrumb) do
  #breadcrumb
    %nav{ 'aria-label' => 'breadcrumb' }
      .container
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to 'Partners', partners_path
          %li.breadcrumb-item.active
            = t "breadcrumbs.#{@page.key}"
