- if flash[:notice]
  .row.justify-content-md-center
    .col.mx-lg-6
      %p.alert.alert-warning= flash[:notice]
      - flash[:notice] = nil

- if flash[:error]
  .row.justify-content-md-center
    .col.mx-lg-6
      %p.alert.alert-danger= flash[:error]
      - flash[:error] = nil
