- content_for(:breadcrumb) do
  %ul.breadcrumb
    .container
      %li
        - if @preset.event.nil?
          = link_to 'Scenarios', presets_path
        - else
          = link_to 'Scenarios', event_presets_path('ec2013')
      %li
        > 
        = @preset.name