.jumbotron#page_wrapper
  %h1 Energy Convention 2013
  %p
    Prior to the Energy Convention 2013, several speakers have used the ETM to illustrate their envisioned energy future. Below you find an overview of the speakers, including links to their scenarios, allowing you to see how they believe their energy goals should be achieved.
.row
  .span12
    = render 'user_thumbs'
