header
  padding: 11px 0 8px
  background-color: #66A2CA
  border-top: 1px solid #89b2d3
  border-bottom: 1px solid #416d96
  @include background(linear-gradient(top, #77add6, #4e8bbe))
  @include box-shadow(0 1px 2px rgba(10, 10, 10, 0.25))
  min-width: 960px
  position: relative
  height: 45px
  .header_inside
    position: relative
    width: 960px
    margin: 0 auto
    .root_link
      position: absolute
      top: -2px
      z-index: 17

  nav
    position: absolute
    a
      color: white
      margin-left: 10px
      .information
        position: relative
        margin-left: 1px
  nav#lang
    right: -10px
    top: 15px
    padding-left: 17px
    z-index: 31
    a.en, a.nl
    padding-left: 20px
    margin-right: 20px
    a.en
    background: url("/assets/icons/gb.png") left center no-repeat
    a.nl
    background: url("/assets/icons/nl.png") left center no-repeat
  nav#top
    top: 15px
    z-index: 25
    right: 65px
    width: 130px
    padding-right: 70px
    a.information_menu
      right: 0
      color: white
    a.menu_toggler
      background: url('header/toggle_down.png') right 3px no-repeat
      padding-right: 18px
      &:hover
        background-position: right -48px
      &.menu-open
        background-position: right -97px
        color: white
      @include hidpi
        background-size: 12px 139px
        background-position: right -69px
        &:hover
          background-position: right -94px
        &.menu-open
          background-position: right -119px
    .header_menu
      @include border-radius(2px)
      background-color: #fff
      border: 1px solid #dfe8f3
      display: none
      font-size: 13px
      line-height: 23px
      margin-right: 0px
      margin-top: 5px
      padding: 12px
      position: absolute
      text-align: left
      top: 26px
      left: -10px
      width: 210px
      z-index: 100
      color: #666
      ul
        padding: 0px
        li
          list-style-type: none
          margin: 0px
          padding: 0px
          clear: both
          float: left
          display: block
          width: 190px
          a
            text-decoration: none
            display: block
            width: 100%
            color: #4287BB
            &:hover
              text-decoration: underline