.navbar

.navbar .brand
  text-indent: -9999px
  background: image_url("header/logo400@2x.png") center center no-repeat
  background-size: 330px
  width: 330px

.navbar .navbar-inner
  padding-right: 0
  padding-left: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

#language a
  margin-left: 15px
  color: #fff
  padding-left: 20px
  &.en
    background: image-url("icons/areas/gb.png") left center no-repeat
  &.nl
    background: image-url("icons/areas/nl.png") left center no-repeat
    
ul.dropdown-menu > li > a
  .icon-external-link
    display: none
    font-size: 0.8em
  &[href*="http://"]
    .icon-external-link
      color: #888
      display: inline
    &:hover
      .icon-external-link
        color: white