.information_page
  margin: auto
  padding-bottom: 120px
  .left
    float: left
  .right
    float: right

  li
    margin-left: 20px
  h3
    clear: both
    border-bottom: 1px dotted #000000
    margin-bottom: 10px
    margin-top: 10px

  #press_release
    line-height: 1em
    margin-bottom: 10px
    img.release_type
      clear: both
      padding-right: 10px

  .image
    background: url("/assets/layout/picture_shadow.png") no-repeat scroll right bottom transparent
    margin: 6px
    padding: 0 14px 14px
    width: 150px

  table
    margin: 20px
    width: 90%
    tr
      margin-bottom: 5px
    td
      padding: 0 5px 1px 5px
      line-height: 2em
    tr.even
      background-color: #F0F0F0
    &.contact
      margin-left: 0px
      td
        padding-left: 0

  .feedback_form
    .notice
      color: #388e3c
      text-align: left
      &.error
        color: #f44336
    .field
      &__message
        textarea
          width: 100%
          min-height: 100px

pre.terminal
  overflow: auto
  white-space: nowrap
  word-break: normal
  word-wrap: normal

h2.anchor
  position: relative
  clear: both

  span
    position: absolute
    top: -70px

p.back_to_top
  text-align: right
  border-bottom: 1px dashed #CCC

  a
    text-decoration: none
