%header
  %div.header_inside
    %a.root_link{ href: root_path }
      %img(src="/assets/header/logo400@2x.png" width="400" height="49" alt="#{ t(:'meta.name') }")
    %nav#top
      - other_locale = english? ? "nl" : "en"
      = link_to (t 'landing_page.other_language'), "http://energytransitionmodel.com/" + (params[:key] || '') , { class: other_locale }
      - information_links.each do |link|
        =link_to link[:text], link[:url], :target => link[:target], :class => link[:class]
  %a{href: "http://wattnu.nl", target:"_new", id: "wattnu_#{I18n.locale}"}
    = t 'landing_page.go_to_wattnu'


