.navbar.navbar-fixed-top
  .navbar-inner
    .container

      %a.brand{href: "/"}
        Quintel Intelligence

      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .nav-collapse.collapse
        %ul.nav
          %li.divider-vertical
          - menu_items.each do |key, values|
            - if values.is_a?(Hash)
              %li.dropdown
                %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                  = key
                  %b.caret
                %ul.dropdown-menu
                  - values.each do |key, value|
                    %li= link_to key, value
            - else
              %li{class:('active' if request.path.delete('/') == key)}
                = link_to key, "/#{key.downcase}"
