%aside#open_source
  .container
    %h3
      The ETM is going open Source, and is looking for partners.
    %p
      %a.btn.btn-primary{href: page_path(:open_source)}
        Subscribe now for early access
